<?xml version='1.0' encoding='utf-8'?>
<widget id="com.chinafoodonline.market" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>中国食品</name>
    <description>Sample Apache Cordova App</description>
    <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <preference name="android-targetSdkVersion" value="33" />
        <preference name="AndroidLaunchMode" value="singleTask" />
        <preference name="Orientation" value="portrait" />
        <preference name="AppendUserAgent" value="mobileapp androidapp" />
        <icon density="ldpi" src="res/icon/android/icon-256.png" />
        <icon density="mdpi" src="res/icon/android/icon-256.png" />
        <icon density="hdpi" src="res/icon/android/icon-256.png" />
        <icon density="xhdpi" src="res/icon/android/icon-256.png" />
        <icon density="xxhdpi" src="res/icon/android/icon-256.png" />
        <icon density="xxxhdpi" src="res/icon/android/icon-256.png" />
        <preference name="AndroidWindowSplashScreenAnimatedIcon" value="res/icon/android/icon-256.png" />
        <preference name="AndroidWindowSplashScreenBackground" value="#ffffff" />
        <preference name="SplashScreenDelay" value="2000" />
    </platform>
    <plugin name="cordova-plugin-customurlscheme" spec="^5.0.2">
        <variable name="URL_SCHEME" value="chinafoodonline" />
    </plugin>
</widget>
